$main-color: #293973;
$nav-color: #40c7da;
$text-color: #FFFFFF;
$weather-info-color: #00000080;
$timer-value-color: #293973;
$timer-button-color: #00000080;
$warning-color: #F44336;

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    background-color: $main-color;
}

@import 'partials/nav-toggle.scss';
@import 'partials/nav.scss';

@import 'partials/section-weather.scss';
@import 'partials/section-timer.scss';

.warning {
    width: calc(100vw - 125px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    min-height: 200px;
    color: $text-color;
    background-color: $warning-color;
    font-size: 0.7em;

    @media (min-width:250px) {
        font-size: 0.8em;
    }

    @media (min-width:350px) {
        font-size: 1em;
    }
}

.hidden-nav {
    position: fixed;
    transform: translate(-100%);

    @media (min-width: 500px) {
        transform: translate(0);
        position: sticky;
    }
}

.hidden-section {
    position: absolute;
    visibility: hidden;
    transform: scale(0);
    opacity: 0;
}