$main-color: #293973;
$nav-color: #40c7da;
$text-color: #FFFFFF;
$weather-info-color:#00000080;
$timer-value-color: #293973;
$timer-button-color:#00000080;
$warning-color:#F44336;
* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
.nav-toggle{
    cursor: pointer;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 20px;
    width: 40px;
    height: 40px;
    left: calc(calc(100px - 40px) /2);
    gap: 5px;
    z-index: 2;
    &__line{
        position: absolute;
        background-color: black;
        width: 100%;
        height: calc(30px/3);
        transition: transform .2s;
        &--one{
            transform: rotate(50deg);
        }
        &--two{
            transform: rotate(50deg);
        }
        &--three{
            transform: rotate(-50deg);
        }
    }
    @media (min-width: 350px){
        left: calc(calc(125px - 40px) /2);
    }
    @media (min-width: 500px) {
            display: none; 
    }
}
.nav {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100px;
    background-color: $nav-color;
    transition: transform 0.2s;
    gap: 30px;
    &__button {
        cursor: pointer;
        width: 80px;
        height: 80px;
        background-position: center;
        background-size: cover;
        background-color: $nav-color;
        border: none;
        @media (min-width:350px) {
            width: 100px;
            height: 100px;
        }
        &:hover {
            transform: scale(1.2);
            transition: transform 0.5s;
        }
        &--weather {
            background-image: url(../img/Weather-icon.png);
        }
        &--timer {
            background-image: url(../img/Timer-icon.png);
        }
    }
    @media (min-width:350px) {
        width: 125px;
    }
}
.section {
    flex-grow: 1;
    background-color: $main-color;
    &--timer{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.weather-info{
    margin-top: 10px;
    color: $text-color;
    background-color: $weather-info-color;
    &__element{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 70px;
    }
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 65px;
    &__text{
        text-align: center;
        width: calc(100% - 50px);
        height: 25px;
    }
    &__button{
        cursor: pointer;
        width: calc(50% - 20px);
        min-height: 20px;
        word-wrap: break-word;
        @media (min-width: 350px) {
            width: 200px;
        }
    }
}
.warning{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    min-height: 200px;
    color: $text-color;
    background-color: $warning-color;
    font-size: 0.7em;
    @media (min-width: 350px) {
        font-size: 0.9em;
    }
}
.timer{
        &__value{
        width: calc(75vw - 50px);
        font-size: 1.5em;
        background-color: $timer-value-color;
        text-align: center;
        color: $text-color;
    }
    &__buttons{
        display: flex;
        justify-content: center;
        .button{
            cursor: pointer;
            margin-top: 10px;
            border-radius: 100%;
            height: 45px;
            width: 45px;
            background-color: $timer-button-color;
            color: $text-color;
            &--play{
                display:flex;
                flex-direction:column;
                justify-content:center;
                align-items:center;
                &::before{
                    content: '';
                    width: 0px;
                    height: 0px;
                    border-left: 15px solid transparent;
                    border-right: 15px solid transparent;
                    border-bottom: 25px solid white;
                    transform: rotate(90deg);
                    margin-left: 5px;
                }
            }
            &--pause{
                border: none;
                position:relative;
                &::before,
                &::after {
                  content: "";
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-125%, -50%);
                  width: 20%;
                  height: 60%;
                  background-color: white;
                }
                &::before {
                    transform-origin: right;
                  }
                  
                &::after {
                    transform-origin: left;
                    margin-left: 30%;
                  }
            }
        }
       
    }
}
.hamburger{
    position: relative;
    transform: rotate(0deg);
}
.hidden-nav{
    position: fixed;
    transform: translate(-100%); 
    @media (min-width: 500px) {
        transform: translate(0); 
        position: sticky;
    }
}
.hidden-section{
        position: absolute;
        visibility: hidden;
        transform: scale(0);
        opacity: 0;
}