$main-color: #293973;
$nav-color: #40c7da;
* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
.nav-toggle{
    cursor: pointer;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 20px;
    width: 40px;
    height: 40px;
    left: calc(calc(100px - 40px) /2);
    gap: 5px;
    z-index: 2;
    &__line{
        position: absolute;
        background-color: black;
        width: 100%;
        height: calc(30px/3);
        transition: transform .2s;
        &--one{
            transform: rotate(50deg);
        }
        &--two{
            transform: rotate(50deg);
        }
        &--three{
            transform: rotate(-50deg);
        }
    }
    @media (min-width: 500px) {
            display: none; 
    }
}
.nav {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100px;
    background-color: $nav-color;
    transition: transform 0.2s;
    &__button {
        cursor: pointer;
        width: 80px;
        height: 80px;
        background-position: center;
        background-size: cover;
        background-color: $nav-color;
        border: none;
        &:hover {
            transform: scale(1.2);
            transition: transform 0.5s;
        }
        &--weather {
            background-image: url(../img/Weather-icon.png);
        }
    }
}
.section {
    flex-grow: 1;
    background-color: $main-color;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 65px;
    &__text{
        text-align: center;
        width: 180px;
        height: 25px;
    }
    &__button{
        cursor: pointer;
        width: 100px;
        height: 20px;
    }
}
.hamburger{
    position: relative;
    transform: rotate(0deg);
}
.hidden{
    position: fixed;
    transform: translate(-100%); 
    @media (min-width: 500px) {
        transform: translate(0); 
        position: sticky;
    }
}
