.section-notebook{
    &__textarea{
        margin-top: 65px;
        width: calc(100vw - 125px);
        height: 100px;
        max-width: 300px;
        max-height: 200px;
    }
    &__button{
        cursor: pointer;
        margin-top: 10px;
        width: calc(65% - 10px);
            min-height: 20px;
            word-wrap: break-word;
    
            @media (min-width: 350px) {
                width: 180px;
            }
    }
    &__saved-text{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: $notebook-savedText-bgColor;
        word-break: break-all;
        color: $text-color;
        width: calc(100vw - 145px);
        min-height: 100px;
        margin-top: 10px;
        padding: 10px;
        gap: 5px;
    }
}